
####################################################################################################
### Intellij                                                                                     ###
####################################################################################################

.idea/

## File-based project format
*.ipr
*.iws
*.iml

## Additional for IntelliJ
out/

####################################################################################################
### Eclipse                                                                                      ###
####################################################################################################

.project
.classpath
.settings/
.loadpath